<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Consilio</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="orange lighten-1" role="navigation">
    <div class="nav-wrapper container">
      
    </div>
  </nav>

<!--Title and intro to website-->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Consilio</h1>
      <div class="row center">
        
        <h5 class="header col s12 light">Consilio (latin;design) helps you in making attractive designs, patterns or abstract <br>structures for your new art project.<br>
          A project made by Aryan, Abhishek and Anoushka.
        <br>
        </h5>
      </div>

              <div class="row">
<!--Generation and download of patterns-->
      <div class="row center">

          <button onClick="window.location.reload();" type="submit" class="btn-large waves-effect waves-light orange">Generate Pattern</button><br><br><br>
          <img class="responsive-img" src="{{ url_for('static', filename=graph) }}" align="center" /><br><br><br>
          <a href="static/graph.png" download><button class="btn-large waves-effect waves-light orange">Download Image</button></a><br>
      </div>
  <!--About CPPN-->
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="card orange center">
            <div class="card-content white-text">
              <span class="card-title">CPPN</span>
              <p>Compositional pattern-producing networks are a variation of artificial neural 
                networks that have an architecture whose evolution is guided by genetic algorithms. 
                While ANNs often contain only sigmoid functions and sometimes Gaussian functions, 
                CPPNs can include both types of functions and many others.</p>
            </div>
            <div class="card-action white white-text">
              <a href="https://www.researchgate.net/publication/220286080_Compositional_pattern_producing_networks_A_novel_abstraction_of_development">Link to documentation</a>
            </div>
            
          </div>
        </div>
           </div>
  </div>
  
  <!--Uses-->
  <h3 class="center orange-text">Sample Usage</h1>
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="static/images/tshirt.png">
        </div>
        <div class="card-title orange white-text center">
          Tshirt
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="static/images/post.png">
        </div>
        <div class="card-title orange white-text center">
          Instagram Post
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="static/images/wallpaper.png">
        </div>
        <div class="card-title orange white-text center">
          Desktop Wallpaper
        </div>
      </div>
    </div>
  </div>
    <br><br>
  </div>
  
            
</div>
<!--footer-->
  <footer class="page-footer orange">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="grey-text text-lighten-3" >Aryan, Anoushka and Abhishek</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  </body>
</html>