<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Consilio</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="orange lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">CPPN</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">CPPN</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Consilio</h1>
      <div class="row center">
        <h5 class="header col s12 light">Consilio (latin;design) helps you in making attractive designs, patterns or abstract structures for your new art project<br>
          A project made by Aryan, Abhishek and Anoushka.
        <br>
        </h5>
      </div>

              <div class="row">
    <form action='/generate' method="post" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label for="first_name"><b>x</b></label>
            <br>
          <input placeholder="x" id="first_name" name="y" type="text" class="validate">
        </div>
        <div class="input-field col s4">

          <label for="last_name"><b>y</b></label>
            <br>
          <input id="last_name" name="y" placeholder="y"  type="text" class="validate">

        </div>

        <div class="input-field col s4">
            <label for="_name"><b>z</b></label>
            <br>
          <input id="_name" name="z" placeholder="z %" type="text" class="validate">

        </div>

      </div>

      <div class="row center">

          <button type="submit" class="btn-large waves-effect waves-light orange">Generate Pattern</button>
      </div>
    </form>
      </div>

      <br>
        {{pred}}<br>

    </div>
  </div>


    <br><br>
  </div>
  </div>>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p class="grey-text text-lighten-4">We are a team of college students working on this project.</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" >Abhishek, Anoushka and Aryan</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>