<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Consilio</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
  <nav class="orange lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <!--<ul class="right hide-on-med-and-down">
        <li><a href="#">CPPN</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">CPPN</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
    </div>
  </nav>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Consilio</h1>
      <div class="row center">
        
        <h5 class="header col s12 light">Consilio (latin;design) helps you in making attractive designs, patterns or abstract <br>structures for your new art project.<br>
          A project made by Aryan, Abhishek and Anoushka.
        <br>
        </h5>
      </div>

              <div class="row">

      <div class="row center">

          <button onClick="window.location.reload();" type="submit" class="btn-large waves-effect waves-light orange">Generate Pattern</button><br><br><br>
          <img class="responsive-img" src="{{ url_for('static', filename=graph) }}" align="center" />
          
      </div>
      <div class="row">
        <div class="col s12 m6">
        <div class="card orange center">
          <div class="card-content white-text">
            <span class="card-title">CPPN</span>
            <p>Compositional pattern-producing networks are a variation of artificial neural 
              networks that have an architecture whose evolution is guided by genetic algorithms. 
              While ANNs often contain only sigmoid functions and sometimes Gaussian functions, 
              CPPNs can include both types of functions and many others.</p>
          </div>
          <div class="card-action white white-text">
            <a href="https://www.researchgate.net/publication/220286080_Compositional_pattern_producing_networks_A_novel_abstraction_of_development">Link to documentation</a>
          </div>
          
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card orange center">
          <div class="card-content white-text">
            <span class="card-title">Neural Style Transfer</span>
            <p>Neural style transfer is an optimization technique used to take two images—a content 
              image and a style reference image (such as an artwork by a famous painter)—and blend them 
              together so the output image looks like the content image, but “painted” in the style of the 
              style reference image.</p></div>
          <div class="card-action white white-text">
            <a href="https://arxiv.org/abs/1508.06576" target="blank">Link to the paper</a>
          </div>
          
        </div>

      </div>
         </div>
  </div>

    
    <br><br>
  </div>
  </div>>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p class="grey-text text-lighten-4">We are a team of college students working on this project.</p>


        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="grey-text text-lighten-3" >Aryan, Anoushka and Abhishek</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

  </body>
</html>